@model IEnumerable<SalesOnline.Web.Models.Responses.UsuarioViewResult>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreCompleto)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.fechaRegistro)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreCompleto)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.fechaRegistro)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id= item.idUsuario  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.idUsuario}) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.idUsuario })
                </td>
            </tr>
        }
    </tbody>
</table>